/*
 *
 *	Estilos Generales
 *
 */

 body {
 	/*Imagen de Fondo*/
	background-image: url("/imagen/fondo.jpg");
	/* Maxima Altura */
    height: 100%; 

    /* Centra y escala la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}